.menu {
    padding: 0.5%;
    width:99%;
    background-color: black;
    color: white;
    top: 0px;
    text-align: center;
    border-bottom: solid white 1px;
}

.menu ul li{
    display: inline-block;
    margin: auto 2%;
    padding: 0.5% 1.5%;
    background-color: #2CA5C8;
    border-radius: 8px;
}

.menu ul li:hover {
    background-color: #2CB0C8;
}

.LogMenu {
    width: 15%;
    margin: auto;
    padding: 0.5%;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

.LogMenu ul {
    padding: 0%;
}

.LogMenu li {
    list-style-type: none;
    display: inline-block;
    margin: auto 5%;
}

.LogMenu input{
    border-radius:12px 0 12px 0;
    background: #f5f5f5;
    border:none;
    color:#555;
    font:bold 12px Verdana;
    padding:9px;
    margin: auto 1%;
}